body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #007bff;
}

p {
    font-size: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    input{
width:80%;
padding:12px;
font-size:18px;
margin:20px;
border-radius:10px;
}

.courses{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:20px;
}

.card{
background:white;
padding:25px;
text-decoration:none;
color:black;
font-size:22px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;
}

.card:hover{
background:#007bff;
color:white;
}
}

button:hover {
    background-color: #0056b3;
}
